/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lobster&family=Patua+One&family=Rubik&family=Sniglet&display=swap');


* {
  box-sizing: border-box;
}

header,
section {
  overflow-x: hidden;
}

:root {
  --Sniglet-font: "Sniglet", cursive;
  --Rubik: "Rubik", sans-serif;
  --Patua: "Patua One", cursive;
  --Lobster: "Lobster", cursive;
  --light-black: #2e2c2caf;
  --bggradient: linear-gradient(to bottom,
      #1d1d1d85, #1d1d1d85, #1d1d1d85, #1d1d1d85, #1d1d1d85, #1d1d1d85, #1d1d1d85, #1d1d1d85, #1d1d1d85, #1d1d1d20);
  --light-gray: rgba(255, 255, 255, 0);
}

.navbar {
  background: var(--bggradient);

}

header a {
  font-family: var(--Sniglet-font);
  font-size: .9em;
  color: whitesmoke;
}


.dropdown-content {
  display: none;
  position: absolute;
  background: rgb(199, 199, 199);
  min-width: 160px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);

}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background: rgb(99, 99, 99);
}

.dropdown:hover .dropdown-content {
  display: block;
}

header .nav-item:last-child {
  padding-right: 10.5em;
}

header .nav-item {
  padding: 0.9em;
}

header .navbar-brand {
  padding-left: 8rem;
}

header .navbar-brand:hover {
  color: rgb(196, 196, 196);
}

header .nav-link:hover {
  color: rgb(196, 196, 196);
}

header .row .col-md-7 {
  font-family: var(--Rubik);
  color: white;
  padding-top: 20vh;
}

header .row .col-md-5 img {
  width: 50%;
  height: auto;
  padding-top: 25vh;
  padding-bottom: 4em;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(0 0 .5rem crimson);

}

header {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: rgba(17, 0, 27, 1);
}

header .rellax {
  z-index: 0;
  position: absolute;
  min-width: 100vw;
  opacity: 60%;
}

header .container .col-md-7 h6 {
  padding: 1vmin;
  letter-spacing: 4px;
}

header .container .col-md-7 h1 {
  font-size: 4em;
  font-weight: bold;
  padding: 0.1em 0em;
}

header .container .col-md-7 p {
  padding: 2em 5em;
}

header .container .col-md-7 button {
  border-radius: 25px;
  font-weight: bold;
}

/* posts */

.posts {
  background: rgb(78, 28, 28);
  color: whitesmoke;
  padding-bottom: 3em;
}

.posts hr {
  border-top: 1px solid whitesmoke;
}

.posts img {
  filter: drop-shadow(0 0 .2em rgb(0, 0, 0));
}

/* Section 2 */

.cover {
  width: 100%;
  height: 55vmin;
  background-position: -24rem -19rem;
  background-size: 100%;
  position: relative;
  overflow: hidden;
  background-color: rgba(17, 0, 27, 1);
}

.cover .rellax {
  z-index: 0;
  min-width: 100vw;
  position: absolute;
  top: -30em;
}

.cover .content {
  height: 100%;
  width: 100%;
  padding-top: 19vmin;
  z-index: 1;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
}

.cover .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.cover .content>h1 {
  font-family: var(--Patua);
  font-size: 6vmin;
  color: whitesmoke;
}

.cover .content>p {
  font-family: var(--Rubik);
  font-size: 2vmin;
  color: #e5e5e5;
}

.border-radius {
  border-radius: 340px;
  width: 60%;
}

footer {
  background: rgba(0, 0, 0, 0.815);
  overflow-x: hidden;
  padding: 14vmin 18vmin;
}

footer p>span {
  color: #ff512f;
}

footer input {
  border: none !important;
}

footer input::placeholder {
  color: white !important;
}

footer .input-group .input-group-text {
  background: var(--bggradient);
  border: none;
}

footer .column i {
  color: #ff0000;
}

footer .column i+i {
  padding: 0 0.5em;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.815);
  z-index: 9999;
  transition: all 1.5s ease;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg2 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

#myImg2:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1400px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

#caption2 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

.modal-content,
#caption2 {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

footer a {
  text-decoration: none;
  color: gray;
}

footer a:hover {
  color: darkgray;
  text-decoration: none;
}